@import 'bootstrap-datepicker';
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome';

.img-footer {
  width: 100%;
  height: 200px;
}

.img-header {
  width: 100%;
  height: 200px;
}
