@import 'bootstrap-datepicker';
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome';

.img-footer {
  width: 100%;
  height: 300px;
}

.img-header {
  width: 100%;
  height: 300px;
}

.nav-custom {
  height: 100px;
  background-color: #07c;
}

.color-title {
  color: red;
}
