<div class="navbar navbar-default yamm" role="navigation" id="navbar">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand home" href="products.html" data-animate-hover="bounce">
      <img src="http://nuochoacharmes.com/wp-content/uploads/2017/03/logo-nuoc-hoa-charmes.jpg" width=30% alt="Obaju logo" class="hidden-xs">
      </a>
      <div class="navbar-buttons">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation">
        <span class="sr-only">Toggle navigation</span>
        <i class="fa fa-align-justify"></i>
        </button>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#search">
        <span class="sr-only">Toggle search</span>
        <i class="fa fa-search"></i>
        </button>
        <a class="btn btn-default navbar-toggle" href="basket.html">
        <i class="fa fa-shopping-cart"></i>  <span class="hidden-xs">3 items in cart</span>
        </a>
      </div>
    </div>
  </div>
</div>
<div id="advantages">
  <div class="container">
    <div class="same-height-row">
      <div class="col-sm-3">
        <div class="box same-height">
          <div class="icon"><i class="fa fa-heart"></i>
          </div>
          <h3 class="color-title">Cam kết</h3>
          <p>Giấy phép lưu hành, chất lượng sản phẩm được Bộ Y Tế kiểm định.</p>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="box same-height">
          <div class="icon"><i class="fa fa-thumbs-up"></i>
          </div>
          <h3 class="color-title">Cam kết</h3>
          <p>Tem chống hàng giả của bộ Công An.                                   </p>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="box same-height">
          <div class="icon"><i class="fa fa-heart"></i>
          </div>
          <h3 class="color-title">Cam kết</h3>
          <p>Hương liệu cao cấp nhập khẩu chính ngạch từ Châu Âu￼.</p>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="box same-height">
          <div class="icon"><i class="fa fa-thumbs-up"></i>
          </div>
          <h3 class="color-title">Cam kết</h3>
          <p>Mùi hương chuẩn như các nơi nổi tiếng trên thế giới.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="all">
  <div id="content">
    <%= yield %>
    <div class="box text-center" data-animate="fadeInUp">
      <div class="container">
        <div class="col-md-12">
          <h3 class="text-uppercase">From our blog</h3>
          <p class="lead">What's new in the world of fashion? <a href="blog.html">Check our blog!</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
