<div id="top">
  <div class="container">
    <div class="col-md-6 offer" data-animate="fadeInDown">
      <p class="btn btn-success btn-sm" data-animate-hover="shake"><%= link_to "Nước hoa Charme Perfume", root_path %></p>
    </div>
    <div class="col-md-6 text-right" data-animate="fadeInDown">
      <p class="btn btn-success btn-sm">Hotline: 01632.492.429</p>
    </div>
  </div>
  </div>
</div>
